@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mova';
    src: url('/font/Mova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}